$spinner-width: 2rem;
$spinner-height: $spinner-width;
$spinner-vertical-align: -0.125em;
$spinner-border-width: 0.25em;
$spinner-animation-speed: 0.75s;
$spinner-animation-color: purple;

@import "~bootstrap/scss/bootstrap";
