.btn {
  background: linear-gradient(
    135deg,
    rgba(52, 211, 153, 0.2),
    rgba(16, 185, 129, 0.1)
  );
  border: 1px solid rgba(52, 211, 153, 0.2);
  min-width: 150px;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

/* Wraps both modals vertically centered */
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.modal-box {
  background-color: rgb(54, 51, 51);
  padding: 30px 20px;
  border-radius: 12px;
  text-align: center;
  max-width: 400px;
  width: 90%;
  color: azure;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.congrats-box {
  transform: translateY(-30px);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.btn:hover {
  background: linear-gradient(
    135deg,
    rgba(59, 214, 157, 0.2),
    rgba(15, 135, 95, 0.1)
  );
  border: 1px solid rgba(52, 211, 153, 0.2);
  transform: translateY(-5px);
}
.form-control {
  background-color: #1c1f2a;
  color: #a29b9b;
  border: "1px solid #5C6BC0";
  border: 1px solid rgba(52, 211, 153, 0.2);
}
.form-control:focus {
  background-color: #1c1f2a;
  color: #a29b9b;
  border: 1px solid rgba(52, 211, 153, 0.2);
  box-shadow: none;
}
.form-control::placeholder {
  color: #ece4e4;
  opacity: 1; /* Firefox */
}
.playbtn {
  width: 150px;
}
.GameButtons {
  margin-top: "15px";
  display: "flex";
  gap: "20px";
  justify-content: "center";
  padding: 10px;
}
