.btn {
  background: linear-gradient(
    135deg,
    rgba(52, 211, 153, 0.2),
    rgba(16, 185, 129, 0.1)
  );
  border: 1px solid rgba(52, 211, 153, 0.2);
}

.btn:hover {
  background: linear-gradient(
    135deg,
    rgba(59, 214, 157, 0.2),
    rgba(15, 135, 95, 0.1)
  );
  border: 1px solid rgba(52, 211, 153, 0.2);
  transform: translateY(-5px);
}
.form-control {
  background-color: "#1C1F2A";
  color: "#EDEDED";
  border: "1px solid #5C6BC0";
  border: 1px solid rgba(52, 211, 153, 0.2);
  width: 150px;
}
